
<div class="album py-5" id="titulo">
    <div class="container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Bem Vindo ao Site da Escola</h1>
                <h3 class="jumbotron-heading">Você está logado como Aluno</h3>
            </div>
            <div class="container" id="imagem">
                <img src="img/Estudante.png" />
            </div>
        </section>
    </div>
</div>
<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #ccffff, #1565c0);
    }

    img {
        margin-top: 10%;
        width: 40%;
        height: 40%;
    }
</style>