@using static PF_GerenciaEscolar.ViewModels.NotaDisciplinaViewModel
@model AlunoViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Notas</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: linear-gradient(to right, #ccffff, #1565c0)
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th, td {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Tabela de Notas</h2>

    <table>
        <tr>
            <th></th>
            <th>1ª Nota</th>
            <th>2ª Nota</th>
            <th>3ª Nota</th>
        </tr>

        @foreach (var disciplina in GetDisciplinas())
        {
            <tr>
                <td>@disciplina.Nome</td>
                @foreach (var nota in Model.Notas.Where(n => n.Disciplina == disciplina.Tipo))
                {
                    <td>@nota.Nota.Valor</td>
                }
            </tr>
        }
    </table>

</body>
</html>

@functions {
    List<(PF_GerenciaEscolar.Data.Enum.Disciplina Tipo, string Nome)> GetDisciplinas()
    {
        return new List<(PF_GerenciaEscolar.Data.Enum.Disciplina, string)>
        {
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Matematica, "Matemática"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Portugues, "Português"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Fisica, "Física"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Quimica, "Química"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Biologia, "Biologia"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Geografia, "Geografia"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Historia, "História"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Sociologia, "Sociologia"),
            (PF_GerenciaEscolar.Data.Enum.Disciplina.Filosofia, "Filosofia")
        };
    }
}
