@using PF_GerenciaEscolar.Data.Enum
@using PF_GerenciaEscolar.ViewModels
@model EditProfessorViewModel

<form method="post" asp-action="EditarProfessor" asp-route-id="@Model.Id">
    <input type="hidden" value="AutenticacaoId" id="AutenticacaoId" />
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" placeholder="Digite seu nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Digite um email válido">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Disciplina" class="form-label">Disciplina</label>
        <select asp-for="Disciplina" asp-items="Html.GetEnumSelectList(typeof(Disciplina))">
            <option>Selecione</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a asp-controller="administrador" asp-action="DetalhesDisciplina" asp-route-disciplina="@Model.Disciplina" class="btn btn-secondary my-2">Cancelar</a>

</form>


<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(to right, #ccffff, #1565c0)
    }
</style>